.login-box {
  width: 40rem;
  height: 30rem;
  float: none;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

.form-group {
  padding-bottom: 2rem;

  &input {
    border-radius: 0;
  }
}

.login-form {
  margin: 0 auto;
  margin-top: 10rem;
  padding-top: 5rem;
  width: 90%;
}
